spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: AuctionV2
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: create-drop
#    show-sql: true
    defer-datasource-initialization: true
#  sql:
#    init:
#      mode: always
server:
  port: 6769
#Logs all incoming requests
logging:
  level:
    org:
      springframework:
        web:
          servlet:
            DispatcherServlet: DEBUG
script:
  path: /app/initContainer.sh
#  path: /Users/kevin/WorkSpaces/Projects/AuctionRevamped/backend/initContainer.sh

